<mat-card class="text-center">
  <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)=onRegister() class="login-form">
      <div mat-card-avatar class="example-header-image">
        <img mat-card-avatar *ngIf="imagePreview" class="preview-image" [src]="imagePreview" alt="avatar">
        <input type="file" placeholder="Upload image" formControlName="avatar" 
          class="hidden" id="avatar" (change)="onFileUpload($event)" #input>
        <button *ngIf="!imagePreview" type="button" [disabled]="form.disabled" (click)="upload()" class="upload-button">
            Add profile photo
          <mat-icon class="example-icon upload-icon">add_a_photo</mat-icon>
        </button>
      </div>
      <button *ngIf="imagePreview" mat-raised-button type="button" color="accent" [disabled]="form.disabled" (click)="upload()" class="change-upload-button">
        Change profile photo
      </button>

      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="Enter your name"
                  matTooltip="Name need to be more than 1 symbol!"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
          <span *ngIf="form.get('name').errors['required']">Name is required</span>
          <span *ngIf="form.get('name').errors['pattern']">Name is not valid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="Enter your valid email"
                  matTooltip="You can enter email only once during registration! After that you can't change it!"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="email" placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
          <span *ngIf="form.get('email').errors['required']">E-mail is required</span>
          <span *ngIf="form.get('email').errors['pattern']">E-mail is not valid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="Valid phone format"
                  matTooltip="Enter your phone in format +79261234567 or +380971234567"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="tel" placeholder="Phone" formControlName="phone">
        <mat-error *ngIf="form.get('phone').invalid && form.get('phone').touched">
          <span *ngIf="form.get('phone').errors['required']">Phone is required</span>
          <span *ngIf="form.get('phone').errors['pattern']">Phone is not valid</span>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="Valid password format"
                  matTooltip="Password need contain uppercase (A-Z) and lowercase (a-z) letters, numbers (0-9) and special characters (!@#-..etc)!"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
          <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
              Password need to be at least {{form.get('password').errors['minlength']['requiredLength']}} symbols.
          </span>
          <span *ngIf="form.get('password').errors['invalidPassword']">{{form.get('password').errors['invalidPassword']}}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="Confirm password"
                  matTooltip="Enter the same password as above"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" compareValidator="password">
        <mat-error *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched">
          <span *ngIf="form.get('confirmPassword').errors['required']">Confirm password is required</span><br>
          <span *ngIf="form.get('confirmPassword').errors['compareValidator']">The password and confirm password fields do not match</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Create account</button>
    </form>
  </mat-card-content>
</mat-card>


