<mat-card class="text-center">
  <mat-card-header>
    <mat-card-title>Detail of your profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)=onSubmit() class="login-form">
      <div mat-card-avatar class="example-header-image">
        <img mat-card-avatar *ngIf="imagePreview" class="preview-image" [src]="imagePreview" alt="avatar">
        <input type="file" placeholder="Upload image" formControlName="image" 
          class="hidden" (change)="onFileUpload($event)" #input>
        <button *ngIf="!imagePreview" type="button" [disabled]="form.disabled" 
                (click)="upload()" class="upload-button">
            Add profile photo
          <mat-icon class="example-icon upload-icon">add_a_photo</mat-icon>
        </button>
      </div>
      <button *ngIf="imagePreview" mat-raised-button type="button" color="accent" 
              [disabled]="form.disabled" (click)="upload()" class="change-upload-button">
        Change profile photo
      </button>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
          <span *ngIf="form.get('name').errors['required']">Name is required</span>
          <span *ngIf="form.get('name').errors['pattern']">Name is not valid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-icon class="tooltip" color="primary"
                  aria-label="You can't change email"
                  matTooltip="You can't change email"
                  matTooltipPosition="right">
          error_outline
        </mat-icon>
        <input matInput type="email" placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
          <span *ngIf="form.get('email').errors['required']">E-mail is required</span>
          <span *ngIf="form.get('email').errors['pattern']">E-mail is not valid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="tel" placeholder="Phone" formControlName="phone">
        <mat-error *ngIf="form.get('phone').invalid && form.get('phone').touched">
          <span *ngIf="form.get('phone').errors['required']">Phone is required</span>
          <span *ngIf="form.get('phone').errors['pattern']">Phone is not valid</span>
        </mat-error>
      </mat-form-field>
      
      <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary" 
                [disabled]="form.invalid || form.disabled" (click)="editProfile(user)">
                Edit profile
        </button>
        <button mat-raised-button type="button" color="warn" 
                [disabled]="form.invalid" (click)="canselEdit(user)">
                Cansel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
